{{>header}}
<div
    class="border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="w-full max-w-lg min-w-xs mx-auto px-4">
        {{!-- Haven't tested this below --}}
        <h3>Published By: {{report.author}}</h3>
        <p><b>Created at: {{formatDate report.created_at}}</b></p>
        <p><b>Updated at: {{formatDate report.updated_at}}</b></p>
        <a href="/reports/delete/{{report.id}}">Delete</a>
        <a href="/reports/update/{{report.id}}">Update</a>
        <h2 class="block text-base xs:text-xl sm:text-xl md:text-xl lg:text-xl xl:text-4xl mt-4 underline decoration-solid">Title</h2>
        <h3 class="text-base xs:text-2xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl">{{report.title}}</h3>
        <h2 class="block text-base xs:text-xl sm:text-xl md:text-xl lg:text-xl xl:text-xl mt-4 underline decoration-solid">Description</h2>
        <article class="prose lg:prose-xl">
            {{ report.body }}
        </article>
        <p><b>Category: {{report.category}}</b></p>
    </div>
</div>
{{>footer}}