{{> header }}
<h1 class="mt-4 mb-4 font-bold text-center">See my account(s)</h1>
{{#if (hasManyProfile profile)}}
<div class="grid grid-cols-1 md:grid-cols-2">
    {{#each profile}}
    <div class="shadow-md w-full mb-4 rounded-xl md:w-1/2 md:mx-auto md:overflow-hidden bg-gray-200">
        <p class="p-2">Name: {{this.name}}</p>
        <p class="p-2">Username: {{this.nickname}}</p>
        <p class="p-2">Email: {{this.email}}</p>
        <p class="p-2">Identifier: {{this.user_id}}</p>
        <p class="p-2">Last Login: {{formatDate this.last_login}}</p>
        <p class="p-2">Login count: {{this.logins_count}}</p>
    </div>

    {{/each}}
</div>
{{else}}
{{!-- Render Single profile --}}
<div class="bg-gray-200 md:mx-auto w-full rounded shadow-md rounded-xl p-3">
    <p class="p-2">Name: {{profile.name}}</p>
    <p class="p-2">Nickname: {{profile.nickname}}</p>
    <p class="p-2">user_id: {{profile.user_id}}</p>
    <p class="p-2">Last Login: {{profile.last_login}}</p>
    <p class="p-2">Login count: {{profile.logins_count}}</p>
</div>
{{/if}}
{{> footer }}