{{> header }}
<h1>User profile for {{user.email}}</h1>
<a href="/dashboard">Dashboard</a>
<a href="/reports">Reports</a>
{{#if (hasManyProfile profile)}}
<h1>See my account(s)</h1>
<div class="flex flex-row">

    {{#each profile}}

    <div class="basis-full lg:basis-1/2 mx-auto shadow-md rounded-xl bg-gray-500">
        <p class="basis-1/5 p-2">Name: {{this.name}}</p>
        <p class="basis-1/5 p-2">Username: {{this.nickname}}</p>
        <p class="basis-1/5 p-2">user_id: {{this.user_id}}</p>
        <p class="basis-1/5 p-2">Last Login: {{formatDate this.last_login}}</p>
        <p class="basis-1/5 p-2">Login count: {{this.logins_count}}</p>
    </div>

    {{/each}}
</div>
{{else}}
{{!-- Render Single profile --}}
<h1>About to render a single profile</h1>
<p>Name: {{profile.name}}</p>
<p>Nickname: {{profile.nickname}}</p>
<p>user_id: {{profile.user_id}}</p>
<p>Last Login: {{profile.last_login}}</p>
<p>Login count: {{profile.logins_count}}</p>
{{/if}}
{{> footer }}